In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from ast import literal_eval
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import wordnet
from surprise import Reader, Dataset, SVD, evaluate
import sys
reload(sys)
sys.setdefaultencoding('utf-8')

import warnings
warnings.simplefilter('ignore')

In [2]:
md = pd. read_csv('/Users/andrew/PycharmProjects/kaggle_competition/datasets/FilmRecommend/movies_metadata.csv')
print(md.head(5))

In [3]:
md['genres'] = md['genres'].fillna('[]').apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
vote_counts = md[md['vote_count'].notnull()]['vote_count'].astype('int')
vote_averages = md[md['vote_average'].notnull()]['vote_average'].astype('int')
C = vote_averages.mean()
C

5.2448966124065111

In [4]:
m = vote_counts.quantile(0.95)
m

434.0

In [5]:
md['year'] = pd.to_datetime(md['release_date'], errors='coerce').apply(lambda x: str(x).split('-')[0] if x != np.nan else np.nan)

In [6]:
qualified = md[(md['vote_count'] >= m) & (md['vote_count'].notnull()) & (md['vote_average'].notnull())][['title', 'year', 'vote_count', 'vote_average', 'popularity', 'genres']]
qualified['vote_count'] = qualified['vote_count'].astype('int')
qualified['vote_average'] = qualified['vote_average'].astype('int')
qualified.shape

(2274, 6)

In [7]:
def weighted_rating(x):
    v = x['vote_count']
    R = x['vote_average']
    return (v/(v+m) * R) + (m/(m+v) * C)

In [9]:
qualified['wr'] = qualified.apply(weighted_rating, axis=1)

In [10]:
qualified = qualified.sort_values('wr', ascending=False).head(250)

In [11]:
qualified.head(15)

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>title</th>
      <th>year</th>
      <th>vote_count</th>
      <th>vote_average</th>
      <th>popularity</th>
      <th>genres</th>
      <th>wr</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>15480</th>
      <td>Inception</td>
      <td>2010</td>
      <td>14075</td>
      <td>8</td>
      <td>29.1081</td>
      <td>[Action, Thriller, Science Fiction, Mystery, A...</td>
      <td>7.917588</td>
    </tr>
    <tr>
      <th>12481</th>
      <td>The Dark Knight</td>
      <td>2008</td>
      <td>12269</td>
      <td>8</td>
      <td>123.167</td>
      <td>[Drama, Action, Crime, Thriller]</td>
      <td>7.905871</td>
    </tr>
    <tr>
      <th>22879</th>
      <td>Interstellar</td>
      <td>2014</td>
      <td>11187</td>
      <td>8</td>
      <td>32.2135</td>
      <td>[Adventure, Drama, Science Fiction]</td>
      <td>7.897107</td>
    </tr>
    <tr>
      <th>2843</th>
      <td>Fight Club</td>
      <td>1999</td>
      <td>9678</td>
      <td>8</td>
      <td>63.8696</td>
      <td>[Drama]</td>
      <td>7.881753</td>
    </tr>
    <tr>
      <th>4863</th>
      <td>The Lord of the Rings: The Fellowship of the Ring</td>
      <td>2001</td>
      <td>8892</td>
      <td>8</td>
      <td>32.0707</td>
      <td>[Adventure, Fantasy, Action]</td>
      <td>7.871787</td>
    </tr>
    <tr>
      <th>292</th>
      <td>Pulp Fiction</td>
      <td>1994</td>
      <td>8670</td>
      <td>8</td>
      <td>140.95</td>
      <td>[Thriller, Crime]</td>
      <td>7.868660</td>
    </tr>
    <tr>
      <th>314</th>
      <td>The Shawshank Redemption</td>
      <td>1994</td>
      <td>8358</td>
      <td>8</td>
      <td>51.6454</td>
      <td>[Drama, Crime]</td>
      <td>7.864000</td>
    </tr>
    <tr>
      <th>7000</th>
      <td>The Lord of the Rings: The Return of the King</td>
      <td>2003</td>
      <td>8226</td>
      <td>8</td>
      <td>29.3244</td>
      <td>[Adventure, Fantasy, Action]</td>
      <td>7.861927</td>
    </tr>
    <tr>
      <th>351</th>
      <td>Forrest Gump</td>
      <td>1994</td>
      <td>8147</td>
      <td>8</td>
      <td>48.3072</td>
      <td>[Comedy, Drama, Romance]</td>
      <td>7.860656</td>
    </tr>
    <tr>
      <th>5814</th>
      <td>The Lord of the Rings: The Two Towers</td>
      <td>2002</td>
      <td>7641</td>
      <td>8</td>
      <td>29.4235</td>
      <td>[Adventure, Fantasy, Action]</td>
      <td>7.851924</td>
    </tr>
    <tr>
      <th>256</th>
      <td>Star Wars</td>
      <td>1977</td>
      <td>6778</td>
      <td>8</td>
      <td>42.1497</td>
      <td>[Adventure, Action, Science Fiction]</td>
      <td>7.834205</td>
    </tr>
    <tr>
      <th>1225</th>
      <td>Back to the Future</td>
      <td>1985</td>
      <td>6239</td>
      <td>8</td>
      <td>25.7785</td>
      <td>[Adventure, Comedy, Science Fiction, Family]</td>
      <td>7.820813</td>
    </tr>
    <tr>
      <th>834</th>
      <td>The Godfather</td>
      <td>1972</td>
      <td>6024</td>
      <td>8</td>
      <td>41.1093</td>
      <td>[Drama, Crime]</td>
      <td>7.814847</td>
    </tr>
    <tr>
      <th>1154</th>
      <td>The Empire Strikes Back</td>
      <td>1980</td>
      <td>5998</td>
      <td>8</td>
      <td>19.471</td>
      <td>[Adventure, Action, Science Fiction]</td>
      <td>7.814099</td>
    </tr>
    <tr>
      <th>46</th>
      <td>Se7en</td>
      <td>1995</td>
      <td>5915</td>
      <td>8</td>
      <td>18.4574</td>
      <td>[Crime, Mystery, Thriller]</td>
      <td>7.811669</td>
    </tr>
  </tbody>
</table>
</div>

In [12]:
s = md.apply(lambda x: pd.Series(x['genres']),axis=1).stack().reset_index(level=1, drop=True)
s.name = 'genre'
gen_md = md.drop('genres', axis=1).join(s)

In [13]:
def build_chart(genre, percentile=0.85):
    df = gen_md[gen_md['genre'] == genre]
    vote_counts = df[df['vote_count'].notnull()]['vote_count'].astype('int')
    vote_averages = df[df['vote_average'].notnull()]['vote_average'].astype('int')
    C = vote_averages.mean()
    m = vote_counts.quantile(percentile)
    
    qualified = df[(df['vote_count'] >= m) & (df['vote_count'].notnull()) & (df['vote_average'].notnull())][['title', 'year', 'vote_count', 'vote_average', 'popularity']]
    qualified['vote_count'] = qualified['vote_count'].astype('int')
    qualified['vote_average'] = qualified['vote_average'].astype('int')
    
    qualified['wr'] = qualified.apply(lambda x: (x['vote_count']/(x['vote_count']+m) * x['vote_average']) + (m/(m+x['vote_count']) * C), axis=1)
    qualified = qualified.sort_values('wr', ascending=False).head(250)
    
    return qualified

In [14]:
build_chart('Romance').head(15)

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>title</th>
      <th>year</th>
      <th>vote_count</th>
      <th>vote_average</th>
      <th>popularity</th>
      <th>wr</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10309</th>
      <td>Dilwale Dulhania Le Jayenge</td>
      <td>1995</td>
      <td>661</td>
      <td>9</td>
      <td>34.457</td>
      <td>8.565285</td>
    </tr>
    <tr>
      <th>351</th>
      <td>Forrest Gump</td>
      <td>1994</td>
      <td>8147</td>
      <td>8</td>
      <td>48.3072</td>
      <td>7.971357</td>
    </tr>
    <tr>
      <th>876</th>
      <td>Vertigo</td>
      <td>1958</td>
      <td>1162</td>
      <td>8</td>
      <td>18.2082</td>
      <td>7.811667</td>
    </tr>
    <tr>
      <th>40251</th>
      <td>Your Name.</td>
      <td>2016</td>
      <td>1030</td>
      <td>8</td>
      <td>34.461252</td>
      <td>7.789489</td>
    </tr>
    <tr>
      <th>883</th>
      <td>Some Like It Hot</td>
      <td>1959</td>
      <td>835</td>
      <td>8</td>
      <td>11.8451</td>
      <td>7.745154</td>
    </tr>
    <tr>
      <th>1132</th>
      <td>Cinema Paradiso</td>
      <td>1988</td>
      <td>834</td>
      <td>8</td>
      <td>14.177</td>
      <td>7.744878</td>
    </tr>
    <tr>
      <th>19901</th>
      <td>Paperman</td>
      <td>2012</td>
      <td>734</td>
      <td>8</td>
      <td>7.19863</td>
      <td>7.713951</td>
    </tr>
    <tr>
      <th>37863</th>
      <td>Sing Street</td>
      <td>2016</td>
      <td>669</td>
      <td>8</td>
      <td>10.672862</td>
      <td>7.689483</td>
    </tr>
    <tr>
      <th>882</th>
      <td>The Apartment</td>
      <td>1960</td>
      <td>498</td>
      <td>8</td>
      <td>11.9943</td>
      <td>7.599317</td>
    </tr>
    <tr>
      <th>38718</th>
      <td>The Handmaiden</td>
      <td>2016</td>
      <td>453</td>
      <td>8</td>
      <td>16.727405</td>
      <td>7.566166</td>
    </tr>
    <tr>
      <th>3189</th>
      <td>City Lights</td>
      <td>1931</td>
      <td>444</td>
      <td>8</td>
      <td>10.8915</td>
      <td>7.558867</td>
    </tr>
    <tr>
      <th>24886</th>
      <td>The Way He Looks</td>
      <td>2014</td>
      <td>262</td>
      <td>8</td>
      <td>5.71127</td>
      <td>7.331363</td>
    </tr>
    <tr>
      <th>45437</th>
      <td>In a Heartbeat</td>
      <td>2017</td>
      <td>146</td>
      <td>8</td>
      <td>20.82178</td>
      <td>7.003959</td>
    </tr>
    <tr>
      <th>1639</th>
      <td>Titanic</td>
      <td>1997</td>
      <td>7770</td>
      <td>7</td>
      <td>26.8891</td>
      <td>6.981546</td>
    </tr>
    <tr>
      <th>19731</th>
      <td>Silver Linings Playbook</td>
      <td>2012</td>
      <td>4840</td>
      <td>7</td>
      <td>14.4881</td>
      <td>6.970581</td>
    </tr>
  </tbody>
</table>
</div>

In [15]:
links_small = pd.read_csv('/Users/andrew/PycharmProjects/kaggle_competition/datasets/FilmRecommend/links_small.csv')
links_small = links_small[links_small['tmdbId'].notnull()]['tmdbId'].astype('int')
md = md.drop([19730, 29503, 35587])
#Check EDA Notebook for how and why I got these indices.
md['id'] = md['id'].astype('int')
smd = md[md['id'].isin(links_small)]
smd.shape

(9099, 25)

In [16]:
smd['tagline'] = smd['tagline'].fillna('')
smd['description'] = smd['overview'] + smd['tagline']
smd['description'] = smd['description'].fillna('')

In [17]:
smd['description'][0:5]

0    Led by Woody, Andy's toys live happily in his ...
1    When siblings Judy and Peter discover an encha...
2    A family wedding reignites the ancient feud be...
3    Cheated on, mistreated and stepped on, the wom...
4    Just when George Banks has recovered from his ...
Name: description, dtype: object

In [19]:
tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(smd['description'])
tfidf_matrix.shape

(9099, 268124)

In [20]:
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)
cosine_sim[0]

array([ 1.        ,  0.00680476,  0.        , ...,  0.        ,
        0.00344913,  0.        ])

In [21]:
smd = smd.reset_index()
titles = smd['title']
indices = pd.Series(smd.index, index=smd['title'])

In [21]:
def get_recommendations(title, cosine_sim=cosine_sim):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:31]
    movie_indices = [i[0] for i in sim_scores]
    return titles.iloc[movie_indices]

In [23]:
get_recommendations('The Godfather').head(10)

973      The Godfather: Part II
8387                 The Family
3509                       Made
4196         Johnny Dangerously
29               Shanghai Triad
5667                       Fury
2412             American Movie
1582    The Godfather: Part III
4221                    8 Women
2159              Summer of Sam
Name: title, dtype: object

In [24]:
get_recommendations('The Dark Knight').head(10)

7931                      The Dark Knight Rises
132                              Batman Forever
1113                             Batman Returns
8227    Batman: The Dark Knight Returns, Part 2
7565                 Batman: Under the Red Hood
524                                      Batman
7901                           Batman: Year One
2579               Batman: Mask of the Phantasm
2696                                        JFK
8165    Batman: The Dark Knight Returns, Part 1
Name: title, dtype: object

In [25]:
credits = pd.read_csv('/Users/andrew/PycharmProjects/kaggle_competition/datasets/FilmRecommend/credits.csv')
keywords = pd.read_csv('/Users/andrew/PycharmProjects/kaggle_competition/datasets/FilmRecommend/keywords.csv')

In [26]:
keywords['id'] = keywords['id'].astype('int')
credits['id'] = credits['id'].astype('int')
md['id'] = md['id'].astype('int')
md.shape

(45463, 25)

In [27]:
md = md.merge(credits, on='id')
md = md.merge(keywords, on='id')
smd = md[md['id'].isin(links_small)]
smd.shape

(9219, 28)

In [28]:
smd['cast'] = smd['cast'].apply(literal_eval)
smd['crew'] = smd['crew'].apply(literal_eval)
smd['keywords'] = smd['keywords'].apply(literal_eval)
smd['cast_size'] = smd['cast'].apply(lambda x: len(x))
smd['crew_size'] = smd['crew'].apply(lambda x: len(x))

In [28]:
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

In [30]:
smd['director'] = smd['crew'].apply(get_director)
smd['cast'] = smd['cast'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
smd['cast'] = smd['cast'].apply(lambda x: x[:3] if len(x) >=3 else x)
smd['keywords'] = smd['keywords'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

In [31]:
smd['cast'] = smd['cast'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x])
smd['director'] = smd['director'].astype('str').apply(lambda x: str.lower(x.replace(" ", "")))
smd['director'] = smd['director'].apply(lambda x: [x,x])

In [32]:
s = smd.apply(lambda x: pd.Series(x['keywords']),axis=1).stack().reset_index(level=1, drop=True)
s.name = 'keyword'
s = s.value_counts()
s[:5]

independent film        610
woman director          550
murder                  399
duringcreditsstinger    327
based on novel          318
Name: keyword, dtype: int64

In [33]:
s = s[s > 1]

In [34]:
stemmer = SnowballStemmer('english')
stemmer.stem('dogs')

u'dog'

In [35]:
def filter_keywords(x):
    words = []
    for i in x:
        if i in s:
            words.append(i)
    return words

In [38]:
smd['keywords'] = smd['keywords'].apply(filter_keywords)
smd['keywords'] = smd['keywords'].apply(lambda x: [stemmer.stem((i)) for i in x])
smd['keywords'] = smd['keywords'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x])

UnicodeDecodeError: 'utf8' codec can't decode byte 0xa0 in position 18: invalid start byte

In [52]:
print(smd['soup'])

0        jealousi toy boy friendship friend rivalri boy...
1        boardgam disappear basedonchildren'sbook newho...
2        fish bestfriend duringcreditssting waltermatth...
3        basedonnovel interracialrelationship singlemot...
4        babi midlifecrisi confid age daughter motherda...
5        robberi detect bank obsess chase shoot thief h...
6        pari brotherbrotherrelationship chauffeur long...
7        jonathantaylorthomas bradrenfro rachaelleighco...
8        terrorist hostag explos vicepresid jean-claude...
9        cuba falselyaccus secretident computerviru sec...
10       whitehous usapresid newlov widow michaeldougla...
11       dracula spoof leslienielsen melbrooks amyyasbe...
12       wolf alaska dog goos bearattack kevinbacon bob...
13       usapresid presidentialelect watergatescand bio...
14       exoticisland treasur map ship scalp pirat geen...
15       poker drugabus 1970 overdos illegalprostitut r...
16       bowl basedonnovel servant countrylif janeauste...
17       hotel newyear'sev witch bet hotelroom sperm lo...
18       africa indigen humananimalrelationship bat jim...
19       brotherbrotherrelationship subway newyorkc new...
20       gambl miami basedonnovel job murder travel maf...
21       policebrut psycholog policeoper policeprotect ...
22       competit assassin cia bank cat mexicanstandoff...
23       deadanim shottodeath teenageboy heldatgunpoint...
24       individu prostitut alcohol casino loveatfirsts...
25       shakespear jealousi friend laurencefishburne i...
26       1970 femalefriendship comingofag gynecologist ...
27       captain napoleonicwar oldflam amandaroot ciará...
28       clone dream island eye dystopia age friendship...
29       servant cabaret shanghai diva uncl mistress um...
                               ...
39963    dystopia cyberpunk robot vanessakirby thurelin...
40019    londonengland china magic secretsocieti vigila...
40153    zombi roxannaaugesen rockyduvall michaelst.mic...
40206    brotherbrotherrelationship turtl sequel basedo...
40231    popstar musician recordalbum famou andysamberg...
40265    londonengland england 1970 spirit singlemoth d...
40286    mar spacetravel spacemiss space markstrong luk...
40317    femalefriendship reboot ghost melissamccarthy ...
40392    spi cia espionag highschoolreunion account dwa...
40455    assassin amnesia flashback mattdamon aliciavik...
40456    paulagarcés annabellasciorra billcamp michaelw...
40499    africa feralchild tarzan jungl animalattack al...
40500    dystopia sequel elizabethmitchell frankgrillo ...
40501    hawaii wed weddingd zacefron adamdevine annake...
40512                            jonathanhock jonathanhock
40528    gay babi van paint money theft booksign readin...
40554    bird fear short alanbarillaro alanbarillaro Fa...
40631    basedonnovel technolog internet hack teenag ne...
40688    biographi crime womandirector steffikammerer s...
40717    experimentalfilm thomasmiddleditch humphreyker...
40787    lauraalbert brucebenderson denniscooper jefffe...
40831    desper texa bankrobb brother shoot carsetonfir...
40837    fight cgi basedonvideogam warrior anim goayano...
40920    mansion helenrogers alexandraturshen laurenmol...
40939    sharkattack sequel farc lasvega creaturefeatur...
40952    friendship sidneypoitier wendycrewson jayo.san...
41172    bollywood akshaykumar ileanad'cruz eshagupta t...
41225    bollywood hrithikroshan poojahegde kabirbedi a...
41391    monster godzilla giantmonst destruct kaiju hir...
41669    music documentari paulmccartney ringostarr joh...
Name: soup, Length: 9219, dtype: object

In [54]:
count = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
count_matrix = count.fit_transform(smd['soup'])

UnicodeDecodeError: 'utf8' codec can't decode byte 0xa0 in position 43: invalid start byte

In [45]:
path='/Users/andrew/PycharmProjects/kaggle_competition/datasets/FilmRecommend/ratings_small.csv'
ratings = pd.read_csv(path)
data=ratings[['userId','movieId','rating']]
data.head(5)

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>userId</th>
      <th>movieId</th>
      <th>rating</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>31</td>
      <td>2.5</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>1029</td>
      <td>3.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>1061</td>
      <td>3.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>1129</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>1172</td>
      <td>4.0</td>
    </tr>
  </tbody>
</table>
</div>

In [48]:
data.to_csv("abc.txt", index=None, header=None, columns=["userId", "movieId", "rating"])

reader = Reader(line_format='user item rating', rating_scale=(0, 10), sep=',')

data = Dataset.load_from_file("abc.txt", reader=reader)

In [49]:
data.split(n_folds=5)
svd = SVD()
evaluate(svd, data, measures=['RMSE', 'MAE'])

CaseInsensitiveDefaultDict(list,
                           {'mae': [0.69015009367211699,
                             0.69743657903864775,
                             0.6846723120924203,
                             0.68854164385689876,
                             0.68967648134398263],
                            'rmse': [0.89672555907730289,
                             0.90509417133671566,
                             0.88920081056603506,
                             0.89217453430932514,
                             0.89639786630923179]})

In [50]:
trainset = data.build_full_trainset()
svd.train(trainset)

In [51]:
ratings[ratings['userId'] == 1]

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>userId</th>
      <th>movieId</th>
      <th>rating</th>
      <th>timestamp</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>31</td>
      <td>2.5</td>
      <td>1260759144</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>1029</td>
      <td>3.0</td>
      <td>1260759179</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>1061</td>
      <td>3.0</td>
      <td>1260759182</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>1129</td>
      <td>2.0</td>
      <td>1260759185</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>1172</td>
      <td>4.0</td>
      <td>1260759205</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>1263</td>
      <td>2.0</td>
      <td>1260759151</td>
    </tr>
    <tr>
      <th>6</th>
      <td>1</td>
      <td>1287</td>
      <td>2.0</td>
      <td>1260759187</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1</td>
      <td>1293</td>
      <td>2.0</td>
      <td>1260759148</td>
    </tr>
    <tr>
      <th>8</th>
      <td>1</td>
      <td>1339</td>
      <td>3.5</td>
      <td>1260759125</td>
    </tr>
    <tr>
      <th>9</th>
      <td>1</td>
      <td>1343</td>
      <td>2.0</td>
      <td>1260759131</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1</td>
      <td>1371</td>
      <td>2.5</td>
      <td>1260759135</td>
    </tr>
    <tr>
      <th>11</th>
      <td>1</td>
      <td>1405</td>
      <td>1.0</td>
      <td>1260759203</td>
    </tr>
    <tr>
      <th>12</th>
      <td>1</td>
      <td>1953</td>
      <td>4.0</td>
      <td>1260759191</td>
    </tr>
    <tr>
      <th>13</th>
      <td>1</td>
      <td>2105</td>
      <td>4.0</td>
      <td>1260759139</td>
    </tr>
    <tr>
      <th>14</th>
      <td>1</td>
      <td>2150</td>
      <td>3.0</td>
      <td>1260759194</td>
    </tr>
    <tr>
      <th>15</th>
      <td>1</td>
      <td>2193</td>
      <td>2.0</td>
      <td>1260759198</td>
    </tr>
    <tr>
      <th>16</th>
      <td>1</td>
      <td>2294</td>
      <td>2.0</td>
      <td>1260759108</td>
    </tr>
    <tr>
      <th>17</th>
      <td>1</td>
      <td>2455</td>
      <td>2.5</td>
      <td>1260759113</td>
    </tr>
    <tr>
      <th>18</th>
      <td>1</td>
      <td>2968</td>
      <td>1.0</td>
      <td>1260759200</td>
    </tr>
    <tr>
      <th>19</th>
      <td>1</td>
      <td>3671</td>
      <td>3.0</td>
      <td>1260759117</td>
    </tr>
  </tbody>
</table>
</div>